---
import Layout from '../../layouts/Layout.astro';
import { FormToUser } from '../../components/Forms.jsx';
import links from '../../../public/links.json';

const { id } = Astro.params;
const data = await fetch(links['development-backend'].url+links['development-backend']['other-links'].sql.user + "/" + id)
	.then((res) => res.json())
	.then((data) => data)
	.catch((err) => console.error("Error:", err));
---

<Layout title="Page SQL BDD" description='Page where we management a bdd SQL to create, get, update and delete a lot of squemas' icon='/favicon.svg'>
	<main>
		<h1>{data.name}</h1>
		<p>{data.email}</p>
		<p>{data.role_name}</p>
		<FormToUser url={links['development-backend'].url + links['development-backend']['other-links'].sql.user + "/" + data.id} method={"PUT"} client:load/>
	</main>
</Layout>
<style>

</style>
