---
import Layout from '../../layouts/Layout.astro';
import { FormToRole , FormToUser } from '../../components/Forms.jsx';
import links from '../../../public/links.json';
---

<Layout title="Page SQL BDD" description='Page where we management a bdd SQL to create, get, update and delete a lot of squemas' icon='/favicon.svg'>
	<main>
		<FormToUser url={links['development-backend']['other-links'].sql.user['update-user']} method={"PUT"} />
	</main>
</Layout>
<style>

</style>
