.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-height: 100%;
  background-color: rgba(134, 119, 119, 0.2);
  backdrop-filter: blur(50%); /* Aplica el desenfoque */
  -webkit-backdrop-filter: blur(50%); /* Para compatibilidad con Safari */
  border-radius: 16px;
	border: 3px solid #ffffffab;
	padding: 10px;
}

.updateButton {
	background-color: #b504cce1;
	color: #ffffffcb;
	border: 2px solid #e2bafad5;
	border-radius: 8px;
	padding: 8px;
	margin: 5px;
	cursor: pointer;
}

.cover > p {
	color: #ffffff;
	font-size: 1.5em;
	margin: 10px;
}
