---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro." description='Indexing page initial to Astro' icon='/favicon.svg'>
	<main>
		<ul role="list" class="link-card-grid">
			<Card
				href="/sql"
				title="Base de datos SQL"
				body="Aqui tenemos el uso de la base de datos SQL paso a paso."
			/>
			<Card
				href="/nonsql"
				title="Base de datos NonSQL"
				body="Aqui hacemos uso de una base de datos NonSQL y mostramos sus devoluciones"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}
	.link-card-grid {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
</style>
