---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import DinamicList from '../components/DinamicList.jsx';
import links from '../../public/links.json';
---

<Layout title="Page SQL Users" description='Page where we management the table of users' icon='/favicon.svg'>
	<main>
		<ul role="list" class="link-card-grid">
			<Card
				href="/sql"
				title="Go back to the sql admin"
				body="Con este boton volvemos a la pagina de sql"
			/>
			<Card
				href="/"
				title="Go back to the home"
				body="Con este boton volvemos a la pagina de inicio"
			/>
		</ul>
		<DinamicList url={links['development-backend']['other-links'].sql.user['get-users']} client:load/>
	</main>
</Layout>
<style>
	main {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row-reverse;
		min-height: 100vh;
		gap: 1.5rem;
	}
	.link-card-grid {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
</style>
