---
import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
	description: string;
	icon: string;
}

const { title, description, icon } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={icon} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	html {
		--color-text: black;
		--font-aplicacion: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto ;
		--navbar-height: 100px;
		font-family: var(--font-aplicacion), sans-serif;
	}
</style>
<style>
	body {
		color: var(--color-text);
		background-image: url('background.jpg');
		background-size: cover;
		background-position-x: 0px;
		backdrop-filter: blur(2px); /* Aplica el desenfoque */
  		-webkit-backdrop-filter: blur(2px); /* Para compatibilidad con Safari */
	}
</style>
